
<form id="addReviewForm" method="/reviews" action="post">
    <div>
        <h2>Book Review:</h2>

        <label>
        <span>isbn</span><input id="isbn" type="text" name="isbn" placeholder="10 or 13 ok" autofocus/>
        </label>

        <label>
        <span>title</span><input id="title" type="text" name="title" />
        </label>

        <label>
        <span>review</span><textarea id="review" name="review"></textarea>
        
        <input type="submit" id="save" value="save" />
        </label>
    </div>
</form>
